.card-header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-text {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card-img-top {
  height: 400px;
  object-fit: contain;
}
